<h1>Please enter a word</h1>
<form action ="/result" method="post">
  <label for="month">Please enter a month</label>
  <input type="text" name="month">
  <label for="date">Please enter a date</label>
  <input type="text" name="date">
  <label for="year">Please enter a year</label>
  <input type="text" name="year">
  <button type="submit">Get Day</button>
</form>
